# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Local env files
.env
.env.*

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Build / cache
coverage
.nyc_output
.cache
.parcel-cache
.svelte-kit/
.next
.nuxt
.temp

# Misc
*.local
*.tsbuildinfo
