.navbar{
  height:72px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 60px;
  background:white;
  border-bottom:1px solid #eee;
}

/* LOGO */
.logo{
  font-size:28px;
  font-weight:700;
}
.logo span{
  color:#ff4d4d;
}

/* CENTER NAV */
.nav-center{
  display:flex;
  gap:40px;
  font-size:15px;
  color:#555;
}
.nav-center a{
  cursor:pointer;
}

/* RIGHT BUTTONS */
.nav-actions{
  display:flex;
  gap:14px;
}

.btn-outline{
  border:1px solid #ddd;
  padding:10px 18px;
  border-radius:10px;
  text-decoration:none;
  color:black;
}

.btn-dark{
  background:#0f172a;
  color:white;
  padding:10px 18px;
  border-radius:10px;
  text-decoration:none;
}